<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mcommerce</title>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />

</head>
<body>


<div class="container">

    <h1>Application Mcommerce</h1>

    <div class="row">
        <div class="col-md-4 my-1" th:each="produit : ${produits}">
            <a th:href="@{|/details-produit/${produit.id}|}">
                <img class="card-img-top" th:src="${produit.image}"/>
                <p th:text="${produit.titre}"></p>
            </a>
        </div>
    </div>

</div>


<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>