<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mcommerce</title>

    <link href="http://localhost:8080/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" rel="stylesheet"
          type="text/css"/>

</head>
<body>


<div class="container">

    <h1 class="text-center">Application Mcommerce</h1>

    <div class="row">
        <div class="col-md-4 mx-auto mt-5 text-center">

            <img class="card-img-top" th:src="${produit.image}"/>

            <p class="font-weight-bold" th:text="${produit.titre}"></p>

            <p th:text="${produit.description}"></p>

            <p>
                <a class="font-weight-bold"
                   th:href="@{|/details-produit/commander-produit/${produit.id}|}">COMMANDER</a>
            </p>

        </div>
    </div>

</div>


<script src="http://localhost:8080/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js" type="text/javascript"></script>

</body>
</html>